.summary {
    background-color: gray;
    color:white;
    font-weight: 600;
    font-size: 25px;
}

#one {
    background-color: white;
    text-align: center;
}

#two {
    background: white;
    text-align: center;
}